*{
    font-size: 40px;
    text-align: center;
}

h1{
    font-family:"Old Standard TT", serif; 
}

div{
    background-color:antiquewhite;
    padding: 10px 5px 10px 5px;
    border: 5px solid black;
    margin: 5px;
}